body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f1f8e9;
}

h1 {
    margin-top: 60px;
    font-size: 45px;
}
h2 {
    font-size: 28px;
}
p {
    font-size: 18px;
    margin: 20px;
}
button {
    padding: 14px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
}
.categories {
    margin: 20px;
}
.plant-card h3 {
    font-size: 24px;
}
.plant-card {
    background: white;
    margin: 20px auto;
    padding: 25px;
    width: 80%;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
.plant-icon {
    font-size: 55px;
}
.plant-card button {
    background: #2e7d32;
    color: white;
}
#details {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.navbar h2 {
    margin: 0;
    font-size: 24px;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}